<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div{
            margin-left: 500px;
            margin-top: 200px;
        }
    .button-no{
        background-color: green;
        padding: 6px 8px;
        color: white;
        border: 1px solid green;
        border-radius: 10px;
        text-decoration: none;
    }
    .button-yes{
        background-color: red;
        padding: 6px 8px;
        color: white;
        border: 1px solid red;
        border-radius: 10px;
        text-decoration: none;
    }
    </style>
    
   <div>
    <h1>siz hakykatdanam sul adamdan gelen message pozmak isleyarsinizmi</h1>
        <a href="/admin/contact" class="button-no">Yok</a>
      <form method="post">
        <button type="submit" class="button-yes">Hova</button>
      </form>
   </div>
    
</body>
</html>